<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/contact.css">
</head>

<body>
    <nav>
        <div class="logo">
            <h1 class="logo-heading"><a href="/" style="text-decoration: none; color: white;">Home</a></h1>
        </div>
        <div class="navbar">
            <ul class="navbar-items">
                <li class="nav-list"><a class="navlinks" href="/profiles/">Profiles</a></li>
                <li class="nav-list"><a class="navlinks" href="/contact/">Contact</a></li>
                <li class="nav-list "><a class="navlinks" href="/signin/">Sign In</a></li>
            </ul>
            <div class="sign-up-button"><a href="/signup" style="text-decoration: none; color: white;">Sign Up</a></div>
            <div class="menu-button">
                <div class="menu-icon"></div>
            </div>
        </div>

    </nav>
    <div class="grid">
        <hr class="sketch-rule grid__item">
    </div>
    <section id="contact">
        <div class="contact-box">
            <div class="contact-links">
                <h2>CONTACT</h2>
                <div class="links">
                    <div class="link">
                        <a><img src="https://i.postimg.cc/m2mg2Hjm/linkedin.png" alt="linkedin"></a>
                    </div>
                    <div class="link">
                        <a><img src="https://i.postimg.cc/YCV2QBJg/github.png" alt="github"></a>
                    </div>
                    <div class="link">
                        <a><img src="https://i.postimg.cc/W4Znvrry/codepen.png" alt="codepen"></a>
                    </div>
                    <div class="link">
                        <a><img src="https://i.postimg.cc/NjLfyjPB/email.png" alt="email"></a>
                    </div>
                </div>
            </div>
            <div class="contact-form-wrapper">
                <form>
                    <div class="form-item">
                        <input type="text" name="sender" required>
                        <label>Name:</label>
                    </div>
                    <div class="form-item">
                        <input type="text" name="email" required>
                        <label>Email:</label>
                    </div>
                    <div class="form-item">
                        <textarea class="" name="message" required></textarea>
                        <label>Message:</label>
                    </div>
                    <button class="submit-btn" style="background-color: #40be88;">Send</button>
                </form>
            </div>
        </div>
    </section>
</body>


</html>