<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <nav>
        <div class="logo">
            <h2 class="logo-heading"><a href="/" style="text-decoration: none; color: white;">Home</a></h2>
        </div>
        <div class="navbar">
            <ul class="navbar-items">
                <li class="nav-list"><a class="navlinks" href="/profiles/">Profiles</a></li>
                <li class="nav-list"><a class="navlinks" href="/contact/">Contact</a></li>
                <li class="nav-list "><a class="navlinks" href="/signin/">Sign In</a></li>
            </ul>
            <div class="sign-up-button"><a href="/signup" style="text-decoration: none; color: white;">Sign Up</a></div>
            <div class="menu-button">
                <div class="menu-icon"></div>
            </div>
        </div>

    </nav>
    <div class="grid">
        <hr class="sketch-rule grid__item">
    </div>
    <main class="main-container">
        <div class="hero">
            <h1 class="hero-title">Hi, this is the Home Page</h1>
            <p>This is a very basic home page.</p>
            <a href="#" class="sign-up-button">Get Started</a>
        </div>
    </main>
</body>

</html>